{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>VIEW Club</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'extrasheet/style/default.css' %}">
	<link rel="stylesheet" href="{% static 'extrasheet/style/layout.css' %}">
   <link rel="stylesheet" href="{% static 'extrasheet/style/media-queries.css' %}">
   <link rel="stylesheet" href="{% static 'extrasheet/style/magnific-popup.css' %}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'extrasheet/scripts/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
   <link rel="shortcut icon" href="{% static 'extrasheet/style/favicon.png' %}" >
   <style>
      .flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  /* width: 50%; */
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.forum {
         position: relative;
         /* height: 400px;
         min-height: 400px; */
         height: fit-content;
         min-height: fit-content;
         width: 100%;
         background: #161415;
         background-size: cover !important;
         -webkit-background-size: cover !important;
         text-align: center;
         overflow: hidden;
      }
   </style>

</head>

<body>
<!-- Header
   ================================================== -->
   <section id="" class="forum" style="background-color:black;margin-bottom: 0px;padding-top: 170px;">

      <nav id="nav-wrap" style="background: black!important;">
         <span href="" class="mobileonly" style="float: left!important;margin:20px 1% 5% 5%;max-width:50px"> <img src="images/profilepic.jpg" alt="Logo"></span>
         <input type="text" placeholder="Search" class="mobileonly" style="float: left!important;margin-top: 20px;border-radius: 10px;margin-left: 10px;max-width: 40%;height: 50%;">
         <a class="mobile-btn" href="#nav-wrap" title="Show navigation" style="margin-top:20px;margin-left:30px;background-color: black!important;">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation" style="margin-top:20px;margin-left:30px;background-color: black!important;">Hide navigation</a>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <div class="mobileonly" >
            <a href="{% url 'clubl' %}" style="color: white;margin-right: 10%;margin-left: 5%;font-size: larger;">CLUB <i class="fa fa-home" aria-hidden="true" style="color: #f8bd0f;"></i></a>
            <a href="" style="color: #f8bd0f;"></a>

            <a href="" style="color: white;margin-left: 10%;margin-right: 5%;font-size: larger;">Notifications <i class="fa fa-bell" aria-hidden="true" style="color: #f8bd0f;"></i></a>


         </div>

         <ul id="nav" class="nav" style="background:transparent">
            <li class=""><a class="" href="{% url 'club' %}">Create Club</a></li>
             
            <li ><a href="{% url 'clubl' %}">CLUB</a></li>
            <li ><a href="{% url 'club-join' %}">My Clubs</a></li>
	         <li><a class="" href="#">Notifications</a></li>
             

            
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->
      

      
      

      <!-- <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p> -->

   </section> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <br>
   <br>
   <section style="text-align: center;padding-bottom: 15px;">            
      <h1 class="responsive-headline" style="color: #FAF0CA;">  My Clubs</h1>
   </section>
   
   <section id="about">
       
      {% for clb in cj %}
      <div class="row">
         

         <div class="three columns">
            {% if clb.club_image %}
            <img class="profile-pic"  src="{{clb.club_image.url}}" alt="" />
            {% endif %}

         </div>

         <div class="nine columns main-col">

            <h2>{{ clb.club_name }}</h2>

            <p>{{ clb.about_club }}
            </p>

            <div class="row">

               <div class="columns contact-details">

               </div>

               <div class="columns download" style="margin-right: 30px;">
                  <p>
                    <a href="{% url 'insight' clb.id %}" class="button" ><i class="fa fa-sign-in"></i>VIEW
                    </a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>
      {% endfor %}

   </section> <!-- About Section End-->

   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action" style="">

   

      <div class="row">
         <div class="two columns header-col">
  
         </div>
  
         <div class="seven columns">
  
            <ul class="social-links">
               <li style="display: inline;"><a href="facebook.com"><i class="fa fa-facebook"></i></a></li>
               <li style="display: inline;"><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li style="display: inline;"><a href="#"><i class="fa fa-google-plus"></i></a></li>
               
            </ul>
  
            
  
         </div>
  
         <div class="three columns action download">
            <ul class="copyright" style="display: inline;">
               <li>&copy; Copyright 2020 Extrasheet</li>
               <li>Design by <a href="#"  target="_blank">Extrasheet</a></li>   
            </ul>
  
  
  
         </div>
  
        
  
  
      </div>
  
   </section> <!-- Call-To-Action Section End-->
  
  
   
   <!-- footer
   ================================================== -->
   <footer class="footer" style='margin-bottom: 0px;margin-top: 0px;'>
  
      <div class="row">
  
         <div class="twelve columns" style="background-color:black;border-radius:7px 7px 0px 0px;padding-top:5px;padding-bottom:3px;height: 70px;">
             
  
           <!-- <ul class="social-links" style="display: inline-flexbox;margin-top: 3px;;margin-bottom: 3px;">
               
               <li style="width: 50%;margin-top: 0px;" >
                    <input type="text" style="border-radius: 10px;min-width: 60%;padding: 18px 2px;" class="form-control" placeholder="   Type here..." aria-label="Search" aria-describedby="basic-addon1"> 
               </li>
               <li style="width: 8%;margin-left: 5px;">
                 <i class="fa fa-camera" aria-hidden="true" style="color: goldenrod;"></i>
               </li>
               <li style="width: 8%;margin-left: 5px;">
                 <i class="fa fa-microphone" aria-hidden="true" style="color: goldenrod;"></i>
               </li>
               <li style="width:10%;margin-left: 5px;">   
                   <i class="fa fa-paper-plane fa-2x " style="color: #f8bd0f;"  aria-hidden="true"></i>
               </li>
            </ul>-->
  
            
  
         </div>
  
         <div id="go-top" style="margin-left: 25%;"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
  
      </div>
  
  
      
  
   </footer> 
  
  
   <!-- Script
     ================================================== -->
   <script src="{% static 'extrasheet/scripts/modernizr.js' %}"></script>
   <script src="https://kit.fontawesome.com/da92449f61.js" crossorigin="anonymous"></script>

 <!-- Java Script
 ================================================== -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="{% static 'extrasheet/scripts/jquery-1.10.2.min.js' %}"><\/script>')</script>
 <script type="text/javascript" src="{% static 'extrasheet/scripts/jquery-migrate-1.2.1.min.js' %}"></script>

 <script src="{% static 'extrasheet/scripts/jquery.flexslider.js' %}"></script>
 <script src="{% static 'extrasheet/scripts/waypoints.js' %}"></script>
 <script src="{% static 'extrasheet/scripts/jquery.fittext.js' %}"></script>
 <script src="{% static 'extrasheet/scripts/magnific-popup.js' %}"></script>
 <script src="{% static 'extrasheet/scripts/init.js' %}"></script>
  
  </body>
  
  </html>