{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Extrasheet </title>
	<meta name="theme-color" content="rgb(234,205,93)" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'extrasheet/img/photo.jpg' %}" rel="icon">
    <link href="{% static 'extraheet/img/photo.jpg' %}" rel="apple-touch-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'extrasheet/style/stylle.css' %}">
</head>

  <div id="app">
    <div class="picture firstfm" style="background-image: url('{% static 'extrasheet/img/a.jpg' %}');" v-if="first === 1">
        <div class="textt">
            <h4 id="well">WELCOME TO</h4>
            
            <div style="background-image: url('{% static 'extrasheet/img/w.png' %}');" id="logo"><h1 id="E">E</h1></div>
            
            <h2 id="ext">ExtraSheet</h2>
            <a href="#2"><button class='firstb' id="cont" ><h4>FIND<span> OUT</span> MORE..</h4></button></a>
        </div>
    </div>
    <!--=======================-->
    <div hidden id="2" class="page2 secondfm" style="background-image: url('img/a.jpg');" v-if="first === 2">
        <div class="texttt">
            <div style="background-image: url('img/w.png');" id="logo"><h1 id="E">E</h1></div>
            
            <h2 id="ext">ExtraSheet</h2>
            <a href="{% url 'register' %}"><button class="secondb" @click.prevent="next()" id="contr"><h4>CREATE ACCOUNT</h4></button></a>
            <a href="{% url 'login' %}"><button class="thirdb" @click.prevent="sign()" id="contr"><h4>SIGN IN</h4></button></a>
            <h4 id="cond">By Signing Up You're Agreeing To Our Terms And Conditions</h4>
            
            
        </div>
        
        
    </div>
    

    
    
  </div>  
    


<!--===============================================================================================-->
</body>

<script src="{% static 'extrasheet/scripts/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'extrasheet/scripts/stylle.js"></script>
<script>
    

</script>
  <script type='text/javascript'>
  
  
  $(document).ready(function(){

 $('.firstb').click( function() {
    
        $('.firstfm').hide()
        $('.secondfm').show()
    })
    
 $('.secondb').click( function() {
    
        $('.secondfm').hide()
        $('.thirdfm').show()
    })
    
 $('.thirdb').click( function() {
    
        $('.secondfm').hide()
        
        $('.fourthfm').show()
    })
    
  } )
    
    
</script>
</html>