{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %} <title>Extrasheet profile</title>{% endblock %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'extrasheet/style/profile.css' %}">
</head>

<body>
    
<!-- multistep form -->
<form action="" method="post" id="msform">
  {% csrf_token %}
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Profile 1</li>
    <li>Profile 2</li>
   <!-- <li>3</li>-->
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Create your profile</h2>
    <h5>gg</h5>
    
    
    
    <h3 class="fs-subtitle">This is step 1</h3>
    
    <input type="file" name="profile_image" {% if form.is_bound %}value="{{ form.profile_image.value }}"{% endif %} accept="image/*" id="id_profile_image"/>
    <input type="text" name="school_name" {% if form.is_bound %}value="{{ form.school_name.value }}"{% endif %}  placeholder="your school name" maxlength="30" required="" id="id_school_name"/>
    
    <select name="gender" {% if form.is_bound %}value="{{ form.gender.value }}"{% endif %} id="id_gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Others" selected="">Others</option>
    </select>
    <input type="text" name="major_courses" {% if form.is_bound %}value="{{ form.major_courses.value }}"{% endif %} placeholder="Your Major Courses if two use comma sign" maxlength="20" required="" id="id_major_courses"/>
    <input type="text" name="minor_courses" {% if form.is_bound %}value="{{ form.minor_courses.value }}"{% endif %} placeholder="Your Minor courses if two use comma" maxlength="20" required="" id="id_minor_courses"/>
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  
 <!-- <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>
    <input type="text" name="twitter" placeholder="Twitter" />
    <input type="text" name="facebook" placeholder="Facebook" />
    <input type="text" name="gplus" placeholder="Google Plus" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>-->
  
  <fieldset>
    <h2 class="fs-title">Create your Profile</h2>
    <h3 class="fs-subtitle">Step 2</h3>
    <select name="personal_interest" required="" id="id_personal_interest">
        <option value="" selected="">---------</option>
        <option value="Science">Science</option>
        <option value="Technology">Technology</option>
        <option value="Entertainment">Entertainment</option>
    </select>
    <input type="text" name="skills_you_have" {% if form.is_bound %}value="{{ form.skills_you_have.value }}"{% endif %} placeholder="skills you have, if two use comma " maxlength="40" required="" id="id_skills_you_have"/>
    <input type="text" name="skills_you_like_to_have" {% if form.is_bound %}value="{{ form.skills_you_like_to_have.value }}"{% endif %} maxlength="30" placeholder="skills you dont have, if two use comma" required="" id="id_skills_you_like_to_have"/>
    <input type="text" name="hobbies" {% if form.is_bound %}value="{{ form.hobbies.value }}"{% endif %} maxlength="30"  placeholder="hobbies if two use comma" required="" id="id_hobbies"/>
    <input type="text" name="spoken_languages" {% if form.is_bound %}value="{{ form.spoken_languages.value }}"{% endif %} maxlength="30"  placeholder="hobbies if two use comma" required="" id="id_spoken_languages"/>
    <input type="text" name="heros_or_rolemodels" {% if form.is_bound %}value="{{ form.heros_or_role_models.value }}"{% endif %} maxlength="30" placeholder="heroes or role models" required="" id="id_heros_or_rolemodels"/>
    <input type="button" name="previous"  class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>
<script src="{% static 'extrasheet/scripts/jquery.min.js' %}"></script>
<script src="{% static 'extrasheet/scripts/profile.js' %}"></script>
<script src="{% static 'extrasheet/scripts/jquery.easing.min.js' %}"></script>
</body>
</html>