{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V2</title>
	<meta name="theme-color" content="black" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'extrasheet/style/stylle.css' %}">
</head>
<body>

<div id="app">    

    <section v-if="first === 6" id="log">
        <br>
        <h1 id="sign">Sign-In</h1>
        <br>
        <h3 id="it">Connect with people that are interested in what you do and want to learn it</h3>
        <br>
        <form id="signin" method="POST" action="">
            {% csrf_token %}
            <div id="logl">
            <label  for="Email/Username">Email or Username:</label><br><br>
            {% for err in form.username.errors %}
                <small style="color:red" class="text-danger ml-2">{{ err }}</small><br>
            {% endfor %}
                <input id="logi" type="email/text" name="username" {% if form.is_bound %}value="{{ form.username.value }}"{% endif %} placeholder="Email or Username" required="required">
            </div><br><br>
            <div id="logl">
                <label for="Password">Password:</label><br><br>
                {% for err in form.password.errors %}
                <small class="text-danger ml-2">{{ err }}</small><br>
                {% endfor %}
                <input id="logi" type="password" name="password" {% if form.is_bound %}value="{{ form.password.value }}"{% endif %} placeholder="password" required="required">
            </div>
            <div class="logb">
                <button id="logb" type="submit"> SIGN IN</button>
            </div>
                
            
        </form>
        <div id="inf">
        
    </div>
</section>
</div>
</body>
</html>