.mainn {
    padding: 16 0;
}

  .menu-large:hover {
    border-bottom: 2px solid white;
  }
  nav.navnav {
      height: 53px;
      text-align center;
      padding: 10 0 65 0;
  }
  
  .menus {
      font-size: 40px;
      
  }
  a.menu {
font-family:times;
letter-spacing: 2px;
font-weight: 900;

  }

  .insta , .twi {
    font-weight: bolder;
    
  }

  .sidebar {
    max-width: 100%
  }

  .mobile-menu-container {
    border-bottom: 3px solid white;
    margin-bottom: 10px;
  }

  .mobile-menu-list:hover {
    background: brown
  }
  .btn-icons {
    margin: 0px 12px 10px 0px;
  }

  .photo-text {
    margin-top: -37px;
    
  }

  .photo-div {
    margin-bottom: 30px;
  }
  
